.main-info {
	padding-top: 280px;
	padding-bottom: 280px;
	&__wrap {
		max-width: 1087px;
		margin: 0 auto;
	}
	&__title {
		color: #fff;

		span {
			opacity: 0.05;font-size: 44px;
      line-height: 56px;
      letter-spacing: -0.6px;
			transition: opacity 0.2s linear;
      font-family: "TT Fors", sans-serif;
      &:nth-child(2),
      &:nth-child(3){
        background: var(--gardient-gardient-main, linear-gradient(84deg, #A917DC -4.82%, #CA40FB 102.75%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
		}
	}
}
@media (max-width: 1380px) {
	.main-info {
		padding-top: 180px;
		padding-bottom: 180px;
	}
}
@media (max-width: 1199px) {
	.main-info {
		padding-top: 120px;
		padding-bottom: 120px;
		&__title {
			font-size: 32px;
			line-height: 42px;
		}
	}
}
@media (max-width: 1010px) {
	.main-info {
		padding-top: 100px;
		padding-bottom: 100px;
		&__title {
			font-size: 28px;
			line-height: 32px;
		}
	}
}
@media (max-width: 760px) {
	.main-info {
		padding-top: 209px;
		padding-bottom: 209px;
		&__title {
			font-size: 27px;
			line-height: 36px;
		}
	}
}
