.c-video{
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px;
  &__wrap{
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
    iframe{
      width: 100%;
      height: 100%;
    }
  }
}
@media (max-width: 1199px) {
	.c-video{
    padding: 40px 32px;
    &__wrap{
      border-radius: 24px;
    }
  }
}
@media (max-width: 1010px) {
	.c-video{
    padding: 80px 24px;
    &__wrap{
      border-radius: 16px;
    }
  }
}

@media (max-width: 760px) {
  .c-video{
    padding: 100px 0;
    &__wrap{
      border-radius: 0;
    }
  }
}
