.c-video{
  max-width: 1440px;
  margin: 0 auto;
  padding: 32px;
  position: relative;
  &__wrap{
    aspect-ratio: 16/9;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    position: relative;
    overflow: hidden;
    video{
      width: 100%;
      height: 100%;
    }
  }
  &__overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    // background: rgba(0, 0, 0,0.5);
    // backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    &-btn{
      width: 96px;height: 96px;
      display: flex;align-items: center;
      justify-content: center;
      border-radius: 300px;
      border: 1px solid #463F56;
      background: radial-gradient(164.03% 150.24% at 20.29% 13.47%, rgba(42, 38, 52, 0.80) 0%, rgba(30, 27, 38, 0.80) 50%, rgba(22, 19, 29, 0.80) 100%);
      box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.25);
      backdrop-filter: blur(6px);
      animation: animate-pulse 2.5s linear infinite;
      cursor: pointer;
      svg{
        width: 36px;
        height: 36px;
        margin-left: 4px;
        margin-bottom: 2px;
      }
    }
  }
}
.yt-modal{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;
  &.active{
    display: flex;
    overflow: hidden;
    height: 100vh;
  }
  &__wrap{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__iframe{
    aspect-ratio: 16 / 9;
    max-width: 75%;
    overflow: hidden;
    z-index: 2;
    width: 100%;
    video{
      width: 100%;
      height: 100%;
    }
  }
  &__overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
  }
  &__btn-close{
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 1px solid #463F56;
    background: radial-gradient(164.03% 150.24% at 20.29% 13.47%, rgba(42, 38, 52, 0.80) 0%, rgba(30, 27, 38, 0.80) 50%, rgba(22, 19, 29, 0.80) 100%);
    box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg{
      width: 24px;
      height: 24px;
     path{
      fill: #fff;
     }
    }
  }
}
@media (max-width: 1199px) {
	.c-video{
    padding: 40px 32px;
    &__wrap{
      border-radius: 24px;
    }
    &__overlay{
      &-btn{
        width: 80px;
        height: 80px;
        svg{
          width: 24px;
          height: 24px;
          margin-left: 3px;
        }
      }
    }
  }
}
@media (max-width: 1010px) {
	.c-video{
    padding: 80px 24px;
    &__wrap{
      border-radius: 16px;
    }
    &__overlay{
      &-btn{
        width: 60px;
        height: 60px;
      }
    }
  }
  .yt-modal{
    &__iframe{
      max-width: 100%;
      margin-top: -40px;
    }
    &__btn-close{
      bottom: 90px;
      top: auto;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
      z-index: 3;
    }
  }
}

@media (max-width: 760px) {
  .c-video{
    padding: 100px 0;
    &__wrap{
      border-radius: 0;
    }
    &__overlay{
      &-btn{
        width: 48px;
        height: 48px;
        svg{
          width: 16px;
          height: 16px;
          margin-left: 2px;
        }
      }
    }
  }
}
