@font-face {
	font-family: "Segoe UI";
	src: url("../fonts/Segoe UI/Segoe UI Light/Segoe UI Light.eot");
	src:
		url("../fonts/Segoe UI/Segoe UI Light/Segoe UI Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Segoe UI/Segoe UI Light/Segoe UI Light.woff") format("woff"),
		url("../fonts/Segoe UI/Segoe UI Light/Segoe UI Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: "Segoe UI";
	src: url("../fonts/Segoe UI/Segoe UI/Segoe UI.eot");
	src:
		url("../fonts/Segoe UI/Segoe UI/Segoe UI.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Segoe UI/Segoe UI/Segoe UI.woff") format("woff"),
		url("../fonts/Segoe UI/Segoe UI/Segoe UI.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Segoe UI";
	src: url("../fonts/Segoe UI/Segoe UI Medium/Segoe UI Medium.eot");
	src:
		url("../fonts/Segoe UI/Segoe UI Medium/Segoe UI Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Segoe UI/Segoe UI Medium/Segoe UI Medium.woff") format("woff"),
		url("../fonts/Segoe UI/Segoe UI Medium/Segoe UI Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "TT Fors";
	src: url("../fonts/TT Fors/TT Fors/TT Fors.eot");
	src:
		url("../fonts/TT Fors/TT Fors/TT Fors.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TT Fors/TT Fors/TT Fors.woff") format("woff"),
		url("../fonts/TT Fors/TT Fors/TT Fors.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
